
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MVCPROJE</title> <!--BURASI SEKMEDE GÖRÜNEN KISIM-->
</head>
<body>

    <div>
        Burası Layout Kısmı
    </div>


    <div> 
        @RenderBody()
    </div>
</body>
</html>
