
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>Profil</p>
<p>Tüm Başlıklarda sayfalama yani paging</p>
<p>Mesajlarda session</p>
<p>Oturum yönetiminin Mimariye taşınması</p>
<p>Token Kullanımı</p>




  


